<form method="post" action="/contact/">
  <input class="text-input-small" type="text" id="inquiry_email" name="inquiry_email" placeholder="Your email" required><br>
  <textarea class="text-input-large" id="inquiry_message" name="inquiry_message" placeholder="Your message" required></textarea><br>
  <button type="submit">Submit</button>
</form>