<section class="footer">
  Made with HTML, CSS, Express, Handlebars, npm, mySQL, and lots of confusion and procrastination<br>
  Website layout/design inspired by wix.com/blog and medium.com<br>
  Special thanks to StackOverflow, W3Schools, and Nick Young and Johnny Roy from Full Stack at Brown
</section>