<!DOCTYPE html>
<html lang=en>

<head>
	<meta charset=utf-8>
	<link rel='stylesheet' href='/css/style.css'>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
	</style>
	<title>Dustin's Blog</title>
</head>

<body>
	{{> header }}
	{{{body}}}
	{{> footer }}
</body>

</html>