<div>
  <section class="section--centered">
    <img class="profile-pic" height="300" src="/images/profile-pic.png">
    <h1 class="title--large">Dustin Wu</h1>
    Reluctantly trying to sell myself on the internet.
  </section>

  <section class="section--blog-body">
    <h1>Skills</h1>
    <ul>
      <li>Eating</li>
      <li>Sleeping</li>
      <li>Gaming</li>
      <li>A bit of programming</li>
    </ul>

    <h1>Experience</h1>
    <ul>
      <li>Walking my dog</li>
      <li>Holding off on many an assignment until the day it's due</li>
      <li>Managing stress by jumping down Youtube rabbit holes</li>
      <li>I took a bunch of AP's in high school but you probably don't care</li>  
      <li>A bunch of projects that are terrible, not finished, or haven't even started</li>
      <li>I figured out how to use the lasso tool in photoshop to make a .png of myself</li>
    </ul>

    <h1>Education</h1>
    <ul>
      <li>Kindergarten: You probably don't care</li>
      <li>Elementary School: You probably don't care</li>
      <li>Middle School: You probably don't care</li>
      <li>High School: You probably don't care</li>
      <li>College: Brown University - Freshman, prospective concentrator in Applied Math-Computer Science</li>
      <li>Grad School: Haven't gotten there yet, working on it</li>
    </ul>
  </section>
</div>