html {
	font-family: 'Noto Sans', sans-serif;
	padding: 0px 50px 0px;
}

body {
	margin-top: 200px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	transition: 0.1s;
	opacity: 0.5;
	cursor: pointer;
}

button:hover {
	transition: 0.1s;
	border-style: solid hidden hidden solid;
}

button {
	width: 100px;
	height: 40px;
	background-color: white;
	border-radius: 25px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 10px;
	text-decoration: none;
	margin: 10px 0px;
	cursor: pointer;
}

textarea {
  resize: none;
}

.navbar {
	top: 0;
	width: 100%;
	background-color: white;
	position: fixed;
	border-style: hidden hidden solid hidden;
	border-width: 1px;
	z-index: 100;
}

.navbar a {
	text-align: center;
	padding: 0px 10px 0px 0px;
	font-size: 17px;
}

.section--featured {
	margin-top: 50px;
	margin-bottom: 100px;
}

.div--featured {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.div--right {
	right: 0;
}

.title--large {
	margin: 0;
	font-size: 50px;
}

.title--underlined {
	font-size: 30px;
	text-decoration: underline;
}

.cards--grid {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
	grid-gap: 40px;
}

.div--horizontal {
	display: flex;
	width: 200px;
	justify-content: space-between;
}

.div--horizontal > div {
	padding: 10px 0px 0px 0px;
}

.featured-thumbnail {
	border-radius: 8px;
	max-width: 500px;
}

.thumbnail--grid {
	border-radius: 8px;
	width: 100%;
}

.thumbnail--center {
	border-radius: 8px;
	margin-top: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
}

.profile-pic {
	border-radius: 50%;
}

.section--blog-body {
	margin: 0px 200px 0px 200px;
}

.div--blog-header {
	margin: 0px 100px 0px 100px;
}

.div--blog-text {
	padding: 60px 0px 50px 0px;
}

.div--blog-text:after {
	padding: 60px 0px 0px 0px;
	border-bottom: 5px solid black;
	content: '';
	display: block;
	width: 100px;
}

.div--comment-block {
	width: 100%;
}

.div--blog-buttons {
	padding: 12px 0px 30px 0px;
	display: flex;
	width: 300px;
	justify-content: space-between;
}

.text-input-small {
	width: 60%;
	padding: 12px 20px;
	margin: 10px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

.text-input-large {
	width: 60%;
	padding: 12px 20px;  
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	height: 200px;
}

.form-popup {
	display: none;
}

.form-container {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

.section--centered {
	text-align: center;
	padding: 0px 0px 30px 0px;
	margin-right: auto;
	margin-left: auto;
}

.footer {
	border-style: solid hidden hidden hidden;
	border-width: 1px;
	width: 100%;
	margin: 100px 0px 0px 0px;
	padding: 30px 0px 30px 0px;
	text-align: right;
	font-size: 10px;
}
